{{>layout/header}}
    <h1> 웹프로그래밍 기말고사(쇼핑몰 상품관리) </h1>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/products/save" role="button" class="btn btn-primary">상품등록</a>
            </div>
        </div>
        <br>
        <table class="table table-horizontal table-bordered">
            <thread class="thread-strong">
                <tr>
                    <th>상품ID</th>
                    <th>상품명</th>
                    <th>상품가격</th>
                    <th>상품설명</th>
                </tr>
            </thread>
            <tbody id="tbody">
            {{#products}}
                <tr>
                    <td>{{p_id}}</td>
                    <td>{{p_name}}</a></td>
                    <td>{{p_price}}</td>
                    <td>{{p_desc}}</td>
                </tr>
            {{/products}}
            </tbody>
        </table>
    </div>
{{>layout/footer}}